@charset "UTF-8";

/* 回答はここに書いてね */
.clearfix:after{
  display: block;
  content: "";
  clear: both;
}
.q1_content {
  width: 900px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  background-color: #eff3f4;
}
.content-box {
  margin-left: 20px;
  width: 230px;
  padding: 20px;
  background-color: #3274ae;
  float: left;
}
.content {
  width: 170px;
  border: 10px solid #022336;
  padding: 20px;
  font-size: 16px;
  line-height: 16px;
  background-color: #eaf4ff;
}
.q1_content .content-box:first-child {
  margin-left: 0;
}
/* 回答はここに書いてね */
