@charset "UTF-8";

/* 回答はここに書いてね */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.q7__box {
  width: 225px;
  font-size: 16px;
}
.flort_box {
  float: left;
  margin-left: 50px;
  box-sizing: border-box;
}

.table_box {
  display: table;
}
.table-cel_box {
  display: table-cell;
  padding-left: 50px;
  vertical-align: middle;
}
.table-cel_box:first-child {
  padding-left: 0px;
}

.inlineblock_inner {
  font-size: 0px;
}
.inlineblock_box {
  display: inline-block;
  margin-left: 50px;
  vertical-align: middle;
  box-sizing: border-box;
}
.inlineblock_box:first-child,
.flort_box:first-child {
  margin-left: 0px;
}

.flex_inner {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}
.flex_box {
  box-sizing: border-box;
}

.is-full {
  font-size: 0;
}
.is-inline,
.is-variable {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
}
.is-inline {
  width: 300px;
}
.is-variable {
  width: 100%;
  margin-left: -300px;
  padding-left: 350px;
}
/* 回答はここに書いてね */
