@charset "UTF-8";

/* 回答はここに書いてね */
.q4-table {
  padding: 20px;
  background-color: #ecf1f2;
  box-sizing: border-box;
}
.q4__contents {
  display: table;
  width: 100%;
  margin-top: 20px;
}
.q4__contents:first-child {
  margin: 0px;
}
.q4__contents__cell {
  display: table-cell;
  text-align: center;
  padding: 20px 0px;
}
.is-pink {
  background-color: #fdc8b8;
  width: 100px;
}
.is-purple {
  background-color: #e0abd9;
}
.is-blue {
  background-color: #b6d8ed;
  width: 100px;
}
.is-yellow {
  background-color: #e5d32e;
}
.is-red {
  background-color: #ec8f9a;
}
.is-green {
  background-color: #8fdcad;
  width: 500px;
}
/* 回答はここに書いてね */
