@charset "UTF-8";

/* 回答はここに書いてね */
.balloon {
  position: relative;
  background: #fff;
  padding: 20px;
  width: 500px;
  margin: 0 auto;
  border: solid 5px #222;
  border-radius: 30px;
}
.balloon::before,
.balloon::after {
  content: "";
  position: absolute;
  top: 0;
  left: 5%;
  border: 25px solid transparent;
}
.balloon::before {
  top: 100%;
  border-top: 25px solid #222;
}
.balloon::after {
  top: 95%;
  border-top: 25px solid #fff;
}
/* 回答はここに書いてね */
