@charset "UTF-8";

/* 回答はここに書いてね */
.balloon{
  position: relative;
  background: #fff;
  padding: 20px;
  width: 500px;
  margin: 0 auto;
  border: solid 5px #222;
  border-radius: 30px;
}
.balloon::before{
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -250px;
  border: 25px solid transparent;
  border-top: 25px solid #222;
  z-index: 1;
}
.balloon::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -245PX;
  border: 20px solid transparent;
  border-top: 20px solid #fff;
  z-index: 2;
}
/* 回答はここに書いてね */
