@charset "UTF-8";

/* 回答はここに書いてね */
.q3_table {
  width: 100%;
  table-layout: fixed;
  text-align: center;
  border-collapse: collapse;
}
.q3_table th,
.q3_table td {
  border: solid #dedede 1px;
  padding: 10px;
}
.q3_table thead th,
.q3_table tbody th {
  background-color: #2244aa;
  color: #fff;
  font-size: 18px;
  line-height: 26px;
}
.q3_table tbody td {
  font-size: 16px;
  line-height: 22px;
}
.q3_table tbody tr:nth-child(even) {
  background-color: #ecf1f2;
}
.q3_table tbody tr:last-child {
  border-top: dashed #000 2px;
}

/* 回答はここに書いてね */
