@charset "UTF-8";

/* 回答はここに書いてね */
.transition_box {
  position: relative;
  width: 500px;
  height: 333px;
  overflow: hidden;
  margin: 0 auto;
}
.transition_box img {
  width: 500px;
  height: 333px;
  transition-duration: 0.5s;
  transition-property: all;
}
.transition_box:hover .transition_img {
  transform: scale(1.5);
}
.transition_text {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top,rgba(0,0,0,0.8),rgba(0,0,0,0));
  transition-duration: 0.5s;
  transition-property: all;
}
.transition_text p {
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 20px;
  color: #fff;
  font-size: 16px;
  line-height: 16px;
  word-break: break-all;
  box-sizing: border-box;
}
.transition_box:hover .transition_text {
  bottom: 0;
}
.spinner {
  width: 100px;
  height: 100px;
  margin: auto;
  line-height: 100px;
  border-radius: 50%;
  border: solid 10px #ecf1f2;
  border-top: solid 10px #00bcd4;
  animation: spinner 1s linear infinite;
}
@keyframes spinner {
  to {
      transform: rotate(360deg);
  }
}
/* 回答はここに書いてね */

